<!DOCTYPE html>
<html lang="en">
<head>
    <title>graph</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/main/js/graph_function.js" defer></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var level1 = {{data1|tojson}}
        var level2 = {{data2|tojson}}
        var level3 = {{data3|tojson}}
    </script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script>

        function SubForm (){
            $.ajax({
                url: 'https://api.apispreadsheets.com/data/ASuBkgHvAAC74TNQ/',
                type:'post',
                data:$("#myForm").serializeArray(),
                success: function(){
                    alert("Form Data Submitted :)")
                },
                error: function(){
                    alert("There was an error :(")
                }
            });
        }
    </script>
</head>
<body>
<section class="sub-header">
    <nav>
        <a href=""><img src="../static/main/images/logo.png" alt=""></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-close" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/selection_page" onclick="transferBack()">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Second Round</h1>
</section>

<section class="graph_area">
    <div class="graph_container">
        <h2>NetWork Graph</h2>
        <div class="graph_row" id="mynetwork"></div>


        <h2>Question</h2>
        <div id="quiz_form_row">
            <form id="myForm">
                <label>Full Name
                    <input name="full_name" />
                </label>
                <label>Email
                    <input name="email" />
                </label>

                <ul class="quiz">
                    <h4>1)	In the figure above, dots indicate actors (people) and lines indicate information exchanges between people.
                        For example, the line between A and C indicates actors A and C share information with each other.</h4>
                    <h5>a)	If somebody outside the network shared information with actor A, who of the following would be the first to receive it?</h5>
                    <ul class="choices">
                        <label><input type="radio" name="question1" value="A" /><span>Actor B</span></label>
                        <label><input type="radio" name="question1" value="B" /><span>Actor D</span></label>
                        <label><input type="radio" name="question1" value="C" /><span>Actor E</span></label>
                        <label><input type="radio" name="question1" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h5>b)	Which of the following would be the last to receive the information? </h5>
                    <ul class="choices">
                        <label><input type="radio" name="question2" value="A" /><span>Actor B</span></label>
                        <label><input type="radio" name="question2" value="B" /><span>Actor D</span></label>
                        <label><input type="radio" name="question2" value="C" /><span>Actor E</span></label>
                        <label><input type="radio" name="question2" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>


                    <h4>2)	In the figure above, dots indicate actors (people) and lines indicate information exchanges between people.
                        The dashed line with the arrowhead represents an infrequent (e.g., once a month) interaction between C and E.
                        The arrowhead indicates C provides information to E but E does not provide information to C.</h4>
                    <h5>a)	Which of the following strategies would be most effective in spreading a given piece of new information among all the actors?</h5>
                    <ul class="choices">
                        <label><input type="radio" name="question3" value="A" /><span>Share the piece of information with A and G</span></label>
                        <label><input type="radio" name="question3" value="B" /><span>Share the piece of information with A and C</span></label>
                        <label><input type="radio" name="question3" value="C" /><span>Share the piece of information with E and H</span></label>
                        <label><input type="radio" name="question3" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h5>b)	Which of the following strategies would be least effective in spreading new information among all the actors? </h5>
                    <ul class="choices">
                        <label><input type="radio" name="question4" value="A" /><span>Share the piece of information with A and F</span></label>
                        <label><input type="radio" name="question4" value="B" /><span>Share the piece of information with A and C</span></label>
                        <label><input type="radio" name="question4" value="C" /><span>Share the piece of information with E and G</span></label>
                        <label><input type="radio" name="question4" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>


                    <h4>3)	In the figure above, dots indicate actors (people) and lines indicate information exchanges between people in the past.
                        The size of the dot indicates the amount of information the actor has. Actors A and E have more information than the others.</h4>
                    <h5> a)	Which of the following strategies should actor F use to access new information?</h5>
                    <ul class="choices">
                        <label><input type="radio" name="question5" value="A" /><span>Actor F should create a new tie with B</span></label>
                        <label><input type="radio" name="question5" value="B" /><span>Actor F should create a new tie with C</span></label>
                        <label><input type="radio" name="question5" value="C" /><span>Actor F should create a new tie with A </span></label>
                        <label><input type="radio" name="question5" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h5>b)	Which of the following strategies would best increase knowledge sharing across the system?  </h5>
                    <ul class="choices">
                        <label><input type="radio" name="question6" value="A" /><span>Create a tie between actors F and E</span></label>
                        <label><input type="radio" name="question6" value="B" /><span>Create a tie between actors F and A</span></label>
                        <label><input type="radio" name="question6" value="C" /><span>Create a tie between actors A and E</span></label>
                        <label><input type="radio" name="question6" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h4>4)	In the figure above, dots indicate actors (people) and lines indicate information exchanges between people in the past.
                        The size of the dot indicates the amount of information the actor has. Actors A and E have more information than the others.</h4>
                    <h5> a)	Whose information is more likely to circulate throughout the network?</h5>
                    <ul class="choices">
                        <label><input type="radio" name="question7" value="A" /><span>Actor A’s information</span></label>
                        <label><input type="radio" name="question7" value="B" /><span>Actor E’s information</span></label>
                        <label><input type="radio" name="question7" value="C" /><span>Actor A’s and E’s information is equally likely </span></label>
                        <label><input type="radio" name="question7" value="D" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h5>b)	Which of the following strategies would best increase knowledge sharing across the system?  </h5>
                    <ul class="choices">
                        <label><input type="radio" name="question8" value="A" /><span>Actor B</span></label>
                        <label><input type="radio" name="question8" value="B" /><span>Actor C</span></label>
                        <label><input type="radio" name="question8" value="C" /><span>Actor F</span></label>
                        <label><input type="radio" name="question8" value="D" /><span>Actor D</span></label>
                        <label><input type="radio" name="question8" value="E" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h4>5)    In this figure, dots indicate actors (people) and lines indicate information exchanges between people. </h4>
                    <h5> a)	If you shared information with person A which actors would be the first to receive it?</h5>
                    <ul class="choices">
                        <label><input type="radio" name="question9" value="A" /><span>B&C</span></label>
                        <label><input type="radio" name="question9" value="B" /><span>F&G</span></label>
                        <label><input type="radio" name="question9" value="C" /><span>B&C&F&G</span></label>
                        <label><input type="radio" name="question9" value="D" /><span>B&C&H&E</span></label>
                        <label><input type="radio" name="question9" value="E" /><span>There is not enough information to answer</span></label>
                    </ul>

                    <h5>b)	Who should actor B share information with to spread to the most actors? </h5>
                    <ul class="choices">
                        <label><input type="radio" name="question10" value="A" /><span>A&E</span></label>
                        <label><input type="radio" name="question10" value="B" /><span>G&C</span></label>
                        <label><input type="radio" name="question10" value="C" /><span>A&C</span></label>
                        <label><input type="radio" name="question10" value="D" /><span>E&G</span></label>
                        <label><input type="radio" name="question10" value="E" /><span>There is not enough information to answer</span></label>
                    </ul>
                </ul>

            </form>

        </div>


        <div class="button_area">
            <button class="table-btn" onclick="SubForm()">Submit</button>
            <button id='back_selection' class="table-btn" onclick="back_to_table()">Back</button>
        </div>
    </div>
</section>

</body>

</html>

